<!doctype html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Apple devices fullscreen -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Apple devices fullscreen -->
        <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	

        <!-- Bootstrap -->
        <link rel="stylesheet" href="~/Assets/vendor/theme/css/bootstrap.min.css">
        <!-- Bootstrap responsive -->
        <link rel="stylesheet" href="~/Assets/vendor/theme/css/bootstrap-responsive.min.css">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="~/Assets/vendor/theme/css/style.css">
        <!-- Color CSS -->
        <link rel="stylesheet" href="~/Assets/vendor/theme/css/themes.css">


        <!-- jQuery -->
        <script src="~/Assets/vendor/theme/js/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/Assets/vendor/theme/js/bootstrap.min.js"></script>
        <script src="~/Assets/vendor/theme/js/eakroko.min.js"></script>

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/Assets/vendor/theme/img/favicon.ico" />
        <!-- Apple devices Homescreen icon -->
        <link rel="apple-touch-icon-precomposed" href="~/Assets/vendor/theme/img/apple-touch-icon-precomposed.png" />

    </head>

<body data-controller="@ViewContext.RouteData.GetRequiredString("controller").ToLower()" data-action="@ViewContext.RouteData.GetRequiredString("action").ToLower()" class='login'>
    <div class="wrapper">
        @RenderBody()
    </div>
    
	<ul class="stats">
		<li class='lightred'>
			<i class="icon-calendar"></i>
			<div class="details">
                <span class="big">@DateTime.Now.ToString("MMMM d, yyyy")</span>
                <span>@DateTime.Now.ToString("dddd, hh:mm")</span>
			</div>
		</li>
	</ul>
    
</body>

</html>