@using AppStarter.Helpers
@using MvcFlash.Core.Extensions

@model AppStarter.ViewModels.Account.UserAccountModel

@{
    ViewBag.Title = "Index";
    Layout = Layouts.Root;
}

<div class="page-header">
    <div class="pull-left">
        <h1>User Information</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered box-color">
            <div class="box-title">
                <h3>
                    <i class="icon-th-list"></i>
                    @Model.FullName
                </h3>
            </div>
            <div class="box-content nopadding">
                <div class="box-content">
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("Edit", "UserAccount", new { @class="form-vertical"}))
                {
                    @Html.ValidationSummary()
                    @Html.Flash()

                    <div class="control-group">
                        @Html.LabelFor(x => x.FullName, new { @class="control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.FullName, new { @class="input-xlarge"})
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.LabelFor(x => x.Email, new { @class="control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Email, new { @class="input-xlarge"})
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(x => x.Password, new { @class="control-label"})
                        <div class="controls">
                            @Html.PasswordFor(x => x.Password, new { @class="input-xlarge"})
                        </div>
                    </div>
        
                    <div class="submit">
                        <div class="pull-left">
                            <input name="UserAccount" type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
</div>

