@using AppStarter.Helpers
@using MvcFlash.Core.Extensions
@model AppStarter.ViewModels.Account.ForgotPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = Layouts.Login;
}

<h1><a href="@Url.Action("index", "Home")">
        <img src="~/Assets/vendor/theme/img/logo-big.png" alt="" class='retina-ready' width="59" height="49">AppStarter
    </a></h1>
    <div class="login-body">
        <h2>Forgot Password</h2>
        @Html.ValidationSummary()
        @Html.Flash()
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-signin" }))
        {
            <div class="email">
                @Html.TextBoxFor(x => x.Email, new {@class = "input-block-level", @placeholder = "Email address"})
            </div>
            <div class="submit" style="padding-bottom: 50px;">
                <div class="pull-left"><a href="@Url.Action("Index", "Login")" class="btn btn-primary">Back</a></div>
                <div class="pull-right"><input type="submit" value="Reset Password" class='btn btn-primary'></div>
            </div>
        }
    
    </div>