@using AppStarter.Helpers
@using MvcFlash.Core.Extensions
@model AppStarter.ViewModels.Account.LogOnModel
@{
    ViewBag.Title = "Index";
    Layout = Layouts.Login;
}

<h1><a href="@Url.Action("index", "Home")">
        <img src="~/Assets/vendor/theme/img/logo-big.png" alt="" class='retina-ready' width="59" height="49">AppStarter
    </a></h1>

<div class="login-body">
    <h2>SIGN IN</h2>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.Flash()
        @Html.ValidationSummary()
        
        @Html.HiddenFor(x => x.ReturnUrl)
        <div class="email">
            @Html.TextBoxFor(x => x.Email, new {@class = "input-block-level", @placeholder = "Email address"})
        </div>
        <div class="pw">
            @Html.PasswordFor(x => x.Password, new {@class = "input-block-level", placeholder = "Password"})
        </div>
        <div class="submit">
            <div class="pull-left"><a href="@Url.Action("Index", "Registrations")" class="btn btn-primary">Registration</a></div>
            <div class="pull-right"><input type="submit" value="Sign in" class='btn btn-primary'></div>
        </div>
    }
    
    <div class="forget">
        <a href="@Url.Action("ForgotPassword", "Login")">
            <span>Forgot password?</span>
        </a>
    </div>

</div>

